@import '../../assets/Style.scss';

.dashboard {
    background-color: $backg-color-content;
    
// sumary
.style-sumary {
    z-index: 1;
    .sumary {
        background-color: $backg-color-header;
        color: $color-white;
        text-align: center;
        height: 200px;
        p {
            font-size: 14px;
        }
        h1 {
            color: $color-white;
        }
        .price-total {
            color: $color-text-blue;
        }
        .price-use {
            color: $color-text-purple;
        }
        .price-surplus {
            color: $color-text-red;
        }
    }
}

// content table
.table-dashboard {
    padding: 0 50px;
    z-index: 2;
    top: -65px;
    margin-bottom: -40px;
    position: relative;

    // title
    .site-page-header {
        border-bottom: 1px solid rgb(235, 237, 240);
        background-color: $color-white;
        box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
        padding: 12px 13px;
        font-size: 18px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    // content
    .ant-table-wrapper {
        box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        th.ant-table-cell.ant-table-cell-ellipsis {
            background-color: $color-white;
            color: $color-text-footer;
            font-weight: 600;
            font-size: 12px;
        }

        td.ant-table-cell.ant-table-cell-ellipsis {
            font-weight: 600;
            font-size: 16px;
            color: $color-td-table;
            border-bottom-left-radius: 5px;
        }
    
        .ant-pagination {
            display: none;
        }

        .ant-table-tbody {
            tr:hover {
                cursor: pointer;
            }
        }
    }
}
}

// modal supply
.modal-supply {
    .ant-modal-header {
        text-align: center;
        img {
            height: 36px;
            margin-bottom: 6px;
        }
        span {
            font-size: 19px;
            color: $color-btn-user;
        }
    }

    .ant-modal-body {
        p {
            color: $color-title-popup;
            font-weight: 600;
            font-size: 14px;
        }
        .ant-input-affix-wrapper {
            border: none;
            border-bottom: 1px solid $border-botton-user;
            padding: 5px 0px 13px 0px;
            img {
                height: 36px;
            }
            .ant-input:placeholder-shown {
                font-size: 17px;
            }
        }
        .ant-input-affix-wrapper-focused{
            border-bottom: 1px solid $border-botton-user;
            box-shadow: none;
        }
        .ant-btn {
            width: 100%;
            font-weight: 600;
            margin-top: 25px;
            height: 47px;
        }
    }

    .ant-modal-footer {
        display: none;
    }
}
