@import '../../assets/Style.scss';

.header {
    width: 100%;
    text-align: center;
    color: $color-white;
    font-size: 15px;
    font-weight: 600;
    background-color: $backg-color-header;
    padding: 0;
}

.menu {
    background-color: $backg-color-header;
    color: $color-white;
    padding: 20px 50px;

    // logo
    .logo {

        img {
            margin-bottom: 3px;
            height: 32px;
        }

        span {
            color: $color-white;
            margin-left: 10px;
        }
    }
    // dashboard and vote
    .dashboard-vote {
        text-align: center;
        a {
            color: $color-white;
            padding-bottom: 4px;
            font-weight: 600;
            font-size: 15px;
        }

        .btn-dashboard {
            margin-right: 10px;
        }
        .btn-vote {
            margin-left: 10px;
        }
        a:hover {
            color: $color-text-blue;
            border-bottom: 1px solid $color-text-blue;
        }

        .style-active-navlink {
            color: $color-text-blue;
            border-bottom: 1px solid $color-text-blue;
        }
    }
    // button user
    .button-user {
        text-align: end;
        .ant-btn {
            background-color: $color-btn-user;
            border: none;
            color: $color-white;
            font-size: 12px;
        }
        .ant-btn:hover {
            color: $color-text-blue;
        }
    }
}

// drawer
.ant-drawer-right .ant-drawer-content-wrapper {
    width: 500px !important;

    // header
    .ant-drawer-body {
        padding: 16px;
        .btn-onclose {
            border: none;
            margin-bottom: 12px;
            font-size: 20px;
        }
        .header-drawer {
            text-align: center;
            img {
                width: 100px;
                height: 100px;
            }
            p {
                font-size: 18px;
                font-weight: 600;
                margin-top: 18px;
                margin-bottom: 10px;
                color: $color-btn-user;
            }
            h1 {
                font-size: 18px;
                font-weight: 600;
                color: $color-text-footer;
            }
        }
    }

    // body
    .body-drawer {

        .btn-body {
            position: relative;
            height: 100px;
            border-bottom: 0.5px solid $border-botton-user;
            border-radius: 2px;
            transition: box-shadow 0.3s ease-in-out;
            align-items: center;
            line-height: 100px;
            padding: 0 30px;

            img {
                margin-bottom: 6px;
            }
            .coin-name {
                font-size: 18px;
                color: $color-btn-user;
                margin-left: 20px;
            }
            i {
                position: absolute;
                top: 0px;
                right: 30px;
                font-size: 30px;
            }
        }
        .btn-body:hover {
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
        }
    }

    // footer
    .footer-drawer {
        text-align: center;
        color: $color-text-footer;
        margin-top: 26px;
        a:hover {
            border-bottom: 0.5px solid #096dd9;
        }
    }
}

@media screen and (max-width: 1024px) {
    // menu
    .menu {
        padding: 20px 20px;
    }
} 

@media screen and (max-width: 575px) {
    // header
    .header {
        font-size: 13px;
    }
    // menu
    .menu {
        padding: 20px 20px;
    
        // logo
        .logo {
            text-align: center;
            margin-bottom: 10px;
            span {
                font-size: 19px;
            }
        }
        // dashboard and vote
        .dashboard-vote {
            text-align: start;
            padding-top: 4px;
        }
        // button user
        .button-user {
            text-align: end;
        }
    }

    // drawer
.ant-drawer-right .ant-drawer-content-wrapper {
    width: 429px !important;
}
} 

@media screen and (max-width: 575px) {
    // header
    .header {
        font-size: 13px;
    }
    // menu
    .menu {
        padding: 20px 20px;
    
        // logo
        .logo {
            text-align: center;
            margin-bottom: 10px;
            span {
                font-size: 19px;
            }
        }
        // dashboard and vote
        .dashboard-vote {
            text-align: start;
            padding-top: 4px;
        }
        // button user
        .button-user {
            text-align: end;
        }
    }

    // drawer
.ant-drawer-right .ant-drawer-content-wrapper {
    width: 429px !important;
}
} 

@media screen and (max-width: 414px) {
    // drawer
.ant-drawer-right .ant-drawer-content-wrapper {
    width: 378px !important;
    }   
} 

@media screen and (max-width: 320px) {

     // header
     .header {
        font-size: 10px;
    }
    // menu
    .menu {
        padding: 12px 10px;
    }

    // drawer
.ant-drawer-right .ant-drawer-content-wrapper {
    width: 300px !important;

    // header
    .ant-drawer-body {
        padding: 8px;
        .header-drawer {
            img {
                width: 70px;
                height: 70px;
            }
            p {
                font-size: 16px;
            }
            h1 {
                font-size: 16px;
            }
        }
    }

    // body
    .body-drawer {

        .btn-body {
            height: 80px;
            line-height: 80px;
            padding: 0 8px;

            .coin-name {
                font-size: 16px;
                font-weight: 600;
                margin-left: 9px;
            }
            i {
                font-size: 25px;
            }
        }
    }

    // footer
    .footer-drawer {
        font-size: 11px;
    }
}
} 