// color text
$color-white: #fff;
$color-text-blue: #ff67cb;
$color-text-purple: #9669ED;
$color-text-red: #ef5350;
$color-text-yellow: #ffcc67;
// color button user
$color-btn-user: #141E27;
// title
$color-title: #9e9e9e;
$fontSize-title: 35px;
// header
$backg-color-header: #0c0e27;
// content
$backg-color-content: #F9FAFB;
// table
$color-td-table: #424242;
// footer
$color-text-footer: #AAB8C1;
// border
$border-botton-user: #CCD6DD;
// popup
$color-title-popup: #657786;
