body {
  margin: 0;
  padding: 0;
  font-family: 'Haas Grot Text R', sans-serif;
  overflow-x: hidden;
}

.ant-form-vertical .ant-form-item {
  &.custom-form-item {
    margin-bottom: 12px;
    .ant-form-item-label {
      padding-bottom: 0;
       & > label {
        height: 22px;
      }
    }
  }
}